.row
  .col-sm-6
    %h1 Hello world!

.row
  .col-sm-6
    %ul
      %li
        Form field for post action. Bonus: catch reply address from request
        and offer optional URL parameters
      %li
        Field to enter code as parameter for post request.
      %li
        Show request content.

